WiseCrowdRec/pom.xml.tag
WiseCrowdRec/pom.xml.releaseBackup
WiseCrowdRec/pom.xml.next
WiseCrowdRec/release.properties
WiseCrowdRec/.settings/
WiseCrowdRec/.classpath
WiseCrowdRec/.project
WiseCrowdRec/.pydevproject
WiseCrowdRec/target/
WiseCrowdRec/test-output
